body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1em;
    max-width: 800px;
    width: 100%;
  }
  
  .logo {
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 2em;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    flex: 1;
    padding: 1em 2em;
    max-width: 800px;
  }
  
  #conversion-ratio {
    color: red;
    font-size: 0.8em;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
  }
  
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
  }
  
  .blog-post {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .blog-post h2 {
    margin: 0 0 0.5em 0;
  }
  
  .blog-post p {
    margin: 0 0 1em 0;
  }
  
  .header-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
  }
  
  .middle-section {
    margin-top: 2em;
    display: flex;
    justify-content: center;
  }
  
  .latest-news-box {
    border: 2px dotted green;
    padding: 1em;
    text-align: center;
  }
  
  .latest-news-box h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  
  .test-section {
    background-color: #f1f8e9;
    padding: 2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1em;
  }
  
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px; 
  }
